.examPage {
  margin-top: 80px;
  position: relative;
  min-height: calc(100vh - 140px);
}

.examPage .timer {
  background-color: #0142b3;
  color: rgb(192, 166, 166);
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}

.examPage .mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: white;
}

.examPage .mode p {
  color: rgb(0, 129, 80);
}

.examPage .question {
  background-color: #1c98fa;
  padding: 20px;
}

.trainingPage .question {
  background-color: #00fa9a;
}

.examPage .options {
  background-color: gainsboro;
  padding-block: 10px;
  margin-top: 4px;
}

.examPage .options li {
  padding-inline: 10px;
  list-style-type: none;
}

.examPage .options li label {
  cursor: pointer;
}

.examPage .options input {
  margin-right: 4px;
}

.examPage .questionActions {
  margin: 10px 20px;
}

.trainingPage #checkAnswerBtn,
.examPage .questionActions button {
  padding: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
}


.examPage .questionActions button,
.trainingPage #checkAnswerBtn {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.trainingPage #checkAnswerBtn {
  margin: 10px 0 0px 50px;
  color: rgba(191, 4, 38, 1);
}

.examPage .questionActions button:focus,
.trainingPage #checkAnswerBtn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.examPage .questionActions button:hover,
.trainingPage #checkAnswerBtn:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-1px);
}

.examPage .questionActions button:active,
.trainingPage #checkAnswerBtn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.examPage .result {
  width: fit-content;
  margin: 46px auto;
  padding: 50px;
  border: #1C98FA solid;
  background-color: rgba(28, 152, 250, .5);
}

.examPage .showResult {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 140px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  display: none;
}

.examPage .showResult table {
  border-collapse: collapse;
  width: fit-content;
  margin: 20px auto;
}

.examPage .showResult th,
.examPage .showResult td {
  border: black solid 1px;
  padding: 10px;
}

.examPage .showResult td:nth-child(even) {
  text-align: center;
}

.examPage .showResult button {
  border: none;
  cursor: pointer;
  color: black;
  background-color: #EFEFEF;
  width: 70%;
  padding: 10px;
  margin: .5em auto;
  display: block;
  text-align: center;
}

.examPage .showResult button:hover {
  color: gray;
}


.examPage .filler {
  background-color: #1383d8;
  padding: 10px;
}

.examPage .filler div {
  margin: 1em 1.3em;
  display: flex;
  gap: 10px;
  align-items: center;
}

.examPage .filler button {
  cursor: pointer;
  font-size: 1rem;
}

.examPage .filler .button1 {
  padding: 5px 8px;
}

.examPage .filler .button2 {
  background-color: lightblue;
  padding: .1em .3em;
  border: 2px solid black;
}

.examPage .filler .button3 {
  padding: .2em .7em;
}

.examPage .sucessAlert {
  background-color: green;
  color: white;
}

.examPage .errorAlert {
  background-color: red;
  color: white;
}